/* src/components/Card/style.css */
.card {
  width: 280px;
  background-color: #7b2cbf;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #c77dff;
}

.card strong {
  font-size: 1.rem;
  margin-bottom: 1px;
  text-align: center;
}

.card small {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.card a {
  background-color: #c77dff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

.card a:hover {
  background-color: #9d4edd;
}